<!DOCTYPE html>
<html>
   <head>
      <title>Connect</title>
      <meta charset="UTF-8">
   </head>
   <body>
	<h1>매칭 정보</h1>
    <h2>받은 매칭 요청</h2>
    <ul>
        {% for request in received_requests %}
        <li>
            <strong>보낸 사람:</strong> {{ request[1] }}<br>
            <a href="/accept_request/{{ request[0] }}">수락</a>
            <a href="/reject_request/{{ request[0] }}">거절</a>
        </li>
        {% else %}
    	<p>받은 요청이 없습니다.</p>
    	{% endfor %}
    </ul>
    <h2>현재 매칭된 유저</h2>
    <ul>
        {% for match in confirmed_matches %}
        <li>
            <strong>유저 이름:</strong> {{ match }}
			<a href="/disconnect_match/{{ match }}">매칭 끊기</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/dashboard/">대시보드로 돌아가기</a>
   </body>
</html>