<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div>팀 매칭 유저</div>
		<span> 반갑습니다, {{ username }}님</span>
		<a href ="/logout">로그아웃</a>
		<a href="/dashboard/">Go back to Dashboard</a>
        <h1>아이디어 및 협업 게시판</h1>
        <nav>
            <ul>
                <a href="/match/">Match</a>
                <li><a href="index.html">홈</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="team.html">팀 관리</a></li>
                <li><a href="profile.html">프로필</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="posts">
            <h2>게시글 목록</h2>
            <button onclick="location.href='create_post.html'">게시글 작성</button>
            <ul>
                <li><a href="post1.html">게시글 제목 1</a></li>
                <li><a href="post2.html">게시글 제목 2</a></li>
            </ul>
        </section>
    </main>

</body>
</html>
