<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div>팀 매칭 유저</div>
		<span> 반갑습니다, {{ username }}님</span>
		<a href ="/logout">로그아웃</a>
		<a href="/dashboard/">Go back to Dashboard</a>
        <h1>아이디어 및 협업 게시판</h1>
        <nav>
            <ul>
                <a href="/connect/">매칭 요청 확인</a>
                <a href="/match/">Match</a><br>
                <a href="team.html">팀 관리</a>
            </ul>
        </nav>
    </header>

    <main>
        <section class="posts">
            <h2>게시글 목록</h2>
            <form action="/create_post/" method="GET">
                <button type="submit">게시글 작성</button>
            </form>
            
            <ul>
                {% for post in posts %}
                    <li><a href="/post/{{ post['id'] }}">{{ post['title'] }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>

</body>
</html>
