<!-- 임의 페이지 추가 -->
<!DOCTYPE html>
<html>
	<head>
	<title>Match page</title>
	<meta charset = "UTF-8">
	</head>
	<body>
		<div>팀 매칭</div>
		<span> 반갑습니다, {{ username }}님</span>
		<a href ="/logout">로그아웃</a>
		<a href="/dashboard/">Go back to Dashboard</a>
		<form action="/match/" method="POST">
		<select name="role" id="role" required>
			<label for="role">Role:</label>
				<option value="mentor">Mentor</option>
				<option value="mentee">Mentee</option>
		</select>
		<label for="desired_field">원하는 분야:</label>
		<input type="text" id="desired_dired" name="desired_field" required>
		<label for="desired_experience">원하는 경력정도:</label>
		<input type="number" id="desierd_experience" name="desired_experience" required>
		<input type="submit" value="팀 찾기">		
		</form>
	</body>
</html>