<!-- 임의 페이지 추가 -->
<!DOCTYPE html>
<html>
	<head>
	<title>Match page</title>
	<meta charset = "UTF-8">
	</head>
	<body>
		<div>팀 매칭</div>
		<span> 반갑습니다, {{ username }}님</span>
		<a href ="/logout">로그아웃</a>
		<a href="/dashboard/">Go back to Dashboard</a>
		<form action="/match/" method="POST">
		<select name="role" id="role" required>
			<label for="role">Role:</label>
				<option value="mentor">멘토</option>
				<option value="mentee">멘티</option>
				<option value="team">팀원</option>
		</select>
		<input type="submit" value="매칭 찾기">		
		</form>
	</body>
</html>