<!-- 임의 페이지 추가 -->
<!DOCTYPE html>
<html>
	<head>
	<title>Schedule</title>
	<meta charset = "UTF-8">
	</head>
	<body>
		<div>일정관리</div>
		<span> 반갑습니다, {{ username }}님</span>
		<a href ="/logout">로그아웃</a>
		<a href="/dashboard/">Go back to Dashboard</a>
		<h3>매칭된 사용자와의 일정</h3>

    {% if matched_users %}
        <h4>매칭된 사용자들</h4>
        <ul>
            {% for user in matched_users %}
                <li>{{ user }} 
                    <a href="/schedule/add/{{ user }}">일정 추가</a> | 
                    <a href="/schedule/delete/{{ user }}">일정 삭제</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>매칭된 사용자가 없습니다.</p>
    {% endif %}
	</body>
</html>